/* -------- NAVBAR -------- */

.nav-container {
    background-color: lightblue; /* background */
    padding: 0 20px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* lay out items horizontally */
    align-items: center;
    height: 60px;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
}

.nav-link:hover {
    border-radius: 4px;
}

/* -------- FORMS -------- */


.error-message {
    color: red;
    margin-bottom: 10px;
    font-weight: bold;
}